header {
    width: 100%;
    height: 60px;
    background-color: rgb(34, 49, 49);
}

body {
    background-color: rgb(223, 209, 209);
}

div {
    display: flex;
    justify-content: center;
}

a {
    border: 1px solid rgb(130, 194, 175);
    border-radius: 6px;
    padding: 9px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(238, 232, 230);
}

a:hover {
    color: rgb(226, 39, 6);
    background-color: rgb(108, 201, 224);
}

h1 {
    text-align: center;
    padding-top: 140px;
    color: rgb(3, 20, 78);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}